@page "/"
@inject ProtectedSessionStorage sessionStorage
@inject AuthenticationStateProvider authProvider
@inject IUserData userData
@inject IStringLocalizer<App> Localizer
@using Syncfusion.Blazor.Inputs
@using System.Globalization
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@using System.IO

<PageTitle>Index</PageTitle>
<h1>@Localizer["Hello World"]</h1>
<h2>@DateTime.Now.ToShortDateString()</h2>
<h2>@DateTime.Now.ToLongDateString()</h2>

<LoginDisplay/>
<SfCalendar TValue="DateTime" />


<SfUploader AutoUpload="false" Multiple="false" ID="UploadFiles" MaxFileSize="5000000">
    <UploaderAsyncSettings SaveUrl="api/UploadAzure/Upload"></UploaderAsyncSettings>
</SfUploader>


@*<SfUploader AutoUpload="false" MaxFileSize=1000000000>
    <UploaderEvents ValueChange="OnChange" OnRemove="OnRemove"></UploaderEvents>
</SfUploader>*@


@code {
   
}
